.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px 0px 144px;
    gap: 8px;
    width: 1440px;
    height: 64px;

    p {
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #212B36;
    }

    .action {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #919EAB;
    }
}

@media (max-width: 391px) {
    .wrapper {
        padding: 0;
        width: 335px;
        height: 24px;
        .action {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p {
            white-space: nowrap;
        }
    }   
}